<app-navbar></app-navbar>

<main class="grid grid-cols-6 gap-3">
    <div class="box-user-detail col-start-2 col-span-4">
        <div class="box-header text-lg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nemo quas, nostrum fugiat ipsam cumque qui adipisci illo dolor molestias, dicta dolores placeat sint repudiandae ad assumenda dolorum, fuga aliquam!
        </div>
        <div class="box-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi fugit itaque vel aut sint explicabo iusto, adipisci quis rerum, facere cupiditate error sunt fuga culpa ab eligendi quasi. Libero, ut.
        </div>
    </div>
</main>
