<main class="grid grid-cols-6 gap-3">
    <div class="box-user-detail col-start-2 col-span-4">
        <div class="box-header text-lg">
            <div>
                <h1 class="text-3xl text-pink font-bold">{{userDetail.name}}</h1>
                <i class="text-3xl text-yellow far fa-star cursor-pointer" (click)="setFavorite()" *ngIf="userDetail.favorited == 0"></i>
                <i class="text-3xl text-yellow fas fa-star cursor-pointer" (click)="setFavorite()" *ngIf="userDetail.favorited == 1"></i>
            </div>
            <h3 class="text-xl">{{userDetail.categoryName}}</h3>
        </div>
        <div class="box-body">
            <h3>Descrição</h3>
            <p *ngIf="userDetail.description" class="font-semibold">
                {{userDetail.description}}
            </p>
            <p *ngIf="!userDetail.description" class="font-semibold">
                Ops, essa instituição ainda não possui descrição
            </p>

            <h3>Endereço e dados</h3>
            <p>
                <span  class="font-semibold text-pink">Rua:</span> {{userDetail.street}} <br/>
                <span  class="font-semibold text-pink">Cidade:</span> {{userDetail.city}} <br/>
                <span  class="font-semibold text-pink">Estado:</span> {{userDetail.state}} <br/>
                <span  class="font-semibold text-pink">CEP:</span> {{userDetail.cep}} <br/>
                <span  class="font-semibold text-pink">Telefone:</span> {{userDetail.telephone}} <br/>
            </p>

            <div class="lookbook-grid">
                <figure class="model" *ngFor="let photo of photos">
                    <img src="{{photo.link}}" />
                    <!-- <figcaption class="model--caption">
                      <h3 class="model-hed"><a href="#">Muscles McTouchdown</a></h3>
                      <p>Prof. McTouchdown is 5'5", wearing a size S <a href="#">Fridays Away Blaseball Jersey</a>.<p>
                    </figcaption> -->
                </figure>
                
            </div>
        </div>
    </div>
</main>
