:root{
    --teal:   #00B2BD;
    --teal-darker:   #01838a;
    --pink:   #BE1761;
    --pink-darker:   #8d1149;
    --yellow: #FFCE00; 
    --white:  #fff;
    --black:  #242424;
    --grey:   #f3f3f4;
    --red: #e70114;
    --green: #008a44;
}