<main class="grid grid-cols-6 gap-3">
    <div class="pt-6 col-start-2 col-span-4 text-center">
        <h1 class="uppercase font-black text-5xl text-pink">Biblioteca de favoritos</h1>
    </div>
    <div class="mt-8 p-2 col-start-2 col-span-4 bg-teal rounded mb-8">
        <div class="grid grid-cols-7 gap-2">
            <div class="md:col-span-2 col-span-3 sm:col-span-7">
                <div class="search-list">
                    <!-- <label for="price" class="block text-sm font-medium text-gray-700">Price</label> -->
                    <div class="mt-1 relative rounded-md shadow-sm ">
                        <input type="text" name="price" id="price" class="p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md" placeholder="Buscar...">
                        <div class="absolute inset-y-0 right-0 flex items-center bg-yellow p-2 rounded-r-lg text-pink">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="md:col-span-3 col-span-2 sm:col-span-7">
                <div>
                    <div class="mt-1 relative">
                        <button type="button" (click)="showList = !showList" class="relative w-full bg-white border border-yellow-300 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
                            <span class="flex items-center ml-3 block truncate h-5" id="clicked">
                                {{filterCategory}}
                            </span>
                            <div class="absolute inset-y-0 right-0 flex items-center bg-yellow p-2 rounded-r-lg text-pink">
                                <i class="fas fa-chevron-down"></i>
                            </div>
                        </button>
                    
                        <ul [ngClass]="{ 'hidden' : !showList}" class="cursor-pointer absolute z-10 mt-1 w-full bg-white shadow-lg max-h-56 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
                            <li *ngFor="let category of categoriesList" (click)="filterByCategory(category)" class="cursor-pointer text-gray-900 cursor-default select-none relative py-2 pl-3 pr-9 hover:text-white hover:bg-pink " id="listbox-option-0" role="option" >
                                <div class="font-normal ml-3 block truncate">
                                    {{category.name}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
  
            </div>

            <div class="flex items-center justify-end md:col-span-2 col-span-2 sm:col-span-7">
                <button class="transition duration-300 ease-in-out py-1 px-3 bg-pink text-white rounded font-semibold hover:bg-white hover:text-pink-600 hover:border-pink-600" type="button">
                    <i class="fas fa-sync-alt"></i>
                </button>
            </div>

            <div class="col-span-7" *ngFor="let post of posts">
                <div *ngIf="posts.length" class="card-post rounded bg-white">
                    <div class="title flex items-center justify-between cursor-pointer">
                        <span class="text-pink font-bold" (click)="navigateTo('/userdetail/{{post.id}}')">
                            {{post.id_user}}
                            <span class="font-normal text-black"> - {{post.post_date | date:'longDate': 'UTC': 'pt-BR' }}</span>
                        </span>
                    </div>
                    <div class="body">
                        <h2 class="font-bold text-2xl">{{post.title}}</h2>
                        <p class="mt-3">{{post.description}}</p>
                    </div>
                </div>
            </div>

            <div class="col-span-7 rounded bg-white" *ngIf="!posts.length">
                <span class="font-bold text-2xl m-3 flex items-center justify-center">Nenhuma nova postagem</span>
            </div>
        </div>
    </div>
</main>


  

